body {
    background-color: darkgray;
}

.login-form {
    align-items: center;
    background-color: white;
    line-height: 1rem;
    padding: 2rem;
    margin: 8rem;
    border-radius: 6px;
    border: solid black 2px;
}

button {
    cursor: pointer;
}

/* hr {
    border: solid 1px;
    rotate: 90deg;
    width: 10rem;
    display: inline-block;
} */